:root {
    font-size: 10px;
    font-family: $f-one;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 119.8rem;
    padding: 0 3rem;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


.justify-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
.align-bottom {
    align-items: flex-end;
}